.register__input {
  max-width: 358px;
  border: 0;
  border-bottom: 2px solid #CCC;
  padding: 0 0 10px;
  color: #CCC;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  outline: none;
  margin: 30px 0 0;
  background-color: #000000;
}