.popup__submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  width: 100%;
  margin: 44px auto 0;
  padding: 14px 0 18px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 2px;
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__submit-button {
    font-size: 14px;
    padding-bottom: 14px;
  }
}